*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}
p{
    margin-bottom: 0 !important;
}

body{
 height: 100%;
}

nav{
    font-family: 'Roboto Condensed', sans-serif;
}

.no-bullets{
    list-style:none;
}

.div-wrap{
    display: table;
}

.font-weight-5{
    font-weight: 500;
}